CompileFlags:
  CompilationDatabase: build
Diagnostics:
  ClangTidy:
    Add: [
      clang-analyzer-*,
      modernize-*,
      bugprone-*,
      performance-*,
      cppcoreguidelines-*,
      readability-*
    ]
    Remove: [
      readability-braces-around-statements
    ]
